* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Cambria, Cochin, Georgia, Times, "Times New Roman", serif,
    sans-serif !important;
    letter-spacing: .2px;
}

@media (max-width: 900px) {
  .main-div {
    left: 20px !important;
  }
}